@model BooksViewModel
<h1>The Book Store</h1>

@foreach (Book b in Model.Books)
{
    <h3>@b.Title</h3>
    <ul>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>IBSN: @b.Isbn</li>
        <li>Classification/Category: @b.Classification</li>
        <li>Number of Pages: @b.PageCount</li>
        <li>Price: @b.Price</li>
    </ul>

    <br />
}


<div page-blah="@Model.PageInfo" page-action="Index"></div>